<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="Windows-88592">
    <title th:text = "${title}"></title>
</head>
<body>
<div class="container">
    <div class="header">
        <div class="logo">
            <h1 th:text= "${title}"></h1>
            <link rel="stylesheet" href="../styles.css">
            <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css"
                  integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
        </div>
        <div class="nav">
            <a href="/select"><i class=""></i>filmy</a>
            <a class="activePage" href="/stat"><i class=""></i> statystyka</a>
            <a href="/data"><i class=""></i> dane</a>
        </div>
    </div>
</div>
<div class="artcile">

    <div style="max-width: 800px; margin: 50px auto">
        <canvas id="myChart" width="1600" height="900"></canvas>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <script th:inline="javascript">

    new Chart(document.getElementById("myChart"), {
        type: 'bar',
        data: {
            labels: [[${dataMap.keySet()}]],

            datasets: [
                {
                    label: "Wybrało osób",

                    backgroundColor: ["#3333ff", "#ff00cc","#8e6b23", "#6600cc", "#ff0000", "#e8c3b9","#3cba9f", "#ffff33", "#3e95cd"],
                   data: [[${dataMap.values()}]]
                }
            ]
        },
        options: {
            legend: {display: false},
            scales: {
                yAxes: [{
                    ticks: {beginAtZero: true}
                }]
            }
        }
    }
    );

    </script>

</div>
</body>
</html>